{% extends "layout/base.html" %}

{% block main_content %}

<div id="main-content" class="container" >

  <div class="col-md-8 col-md-offset-2" >

    <div id="post-list" >
      {% for post in latest_posts %}
      <article class="post">
        <div class="row" >
          <aside class="col-sm-2">
            <a href="{{ post.member.blog }}">
              <img src="{{ post.author_email | gravatar }}" alt="Picture of {{ post.member.name }}" />
            </a>
          </aside>

          <hgroup class="col-sm-10">
            <div class="date" >
              <span class="month">{{ post.date_updated|br_month }}</span>
              <span class="day">{{ post.date_updated.strftime('%d') }}</span>
            </div>
            <h2 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
            {# TODO: translate 'por' #}
            <strong class="author"><a href="{{ post.member.blog }}">por {{ post.member.name }}</a></strong>
          </hgroup>
        </div>
      </article>
      {% endfor %}
    </div>

    <div class="pagination-wrapper" >
      <nav>
        <ul class="pagination">
          {% for page in pagination.iter_pages() %}
          {% if page %}
          {% if page != pagination.page %}
          <li><a href="?page={{ page }}">{{ page }}</a></li>
          {% else %}
          <li><span aria-hidden="true" >{{ page }}</span></li>
          {% endif %}
          {% else %}
          <span id=pontos>…</span>
          {% endif %}
          {% endfor %}

          {% if pagination.has_next %}
          <li>
            <a href="?page={{pagination.page + 1}}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

  </div>

</div><!-- fim #container -->

{% endblock %}
