body {
  background: #333;
}

#header {
  text-align: center;
  margin-top:20px;
  margin-bottom:50xp;
}

#header img {
  height: auto;
  width: 200px;
}

#header h1 {
  color: #FFF;
}

article {
  border-bottom: #555 solid 3px;
  padding:20px;

}

header {
  margin: 30px 0 50px 0;
}

.post h2 {
  margin: 0;
}

.post h2 a {
  color: #FFB701
}

.post h2 a:hover, .post h2 a:focus {
  color: #FFCC56;
}

.post img {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}

.post .date {
  color: #FFF;
  font-size: 1.8em;
}

.post .author a, .tags-wrapper b {
  color: #777;
}

.pagination li a, .pagination li span, .pagination li a:hover, .pagination li a:focus{
  color: #666;
}

.tags-wrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tags-list a {

  background: #444;
  display: inline-block;
  padding: 0 5px;
  color: #888;
}

footer {
  color: #777;
  text-align: center;
  margin-bottom: 20px;
}

footer a {
  color: #FFB701;
}

.pagination-wrapper {
  text-align: center;
}
